@font-face { 
    font-family: "Muller";
    src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
    font-style: normal;
    font-weight: 700;
}

@font-face { 
    font-family: "Muller";
    src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
    font-style: normal;
    font-weight: 300;
}

@font-face { 
    font-family: "Muller";
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
    font-style: normal;
    font-weight: 500;
}

@font-face { 
    font-family: "Muller";
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

*{
    box-sizing: border-box;
}

html{
    font-family: 'Muller';
  }

body{
    background: #E5E5E5;
    margin: 0;
}

a{
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/*header*/
header{
    margin-top: 30px;
}

.container{
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; 
}

.header-left{
    display: flex;
    align-items: center;
}

.header-right{
    display: flex;
    align-items: center;
}

.phone-nomer{
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    color: #666666;
    padding-left: 34px;
}

.kabinet-link{
    background: url('../img/keyboard_tab.svg') no-repeat 0;
    background-position: bottom -2px left 0px;
    padding-left: 27px;
    color: #CC9933;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
}

.nav{
    margin-top: 30px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    height: 70px;
    border-radius: 15px;
}

.nav-list{
    display: flex;
    margin: auto; 
}

.nav-item{
    margin-left: 45px;
}

.nav-item:last-of-type{
    margin-right: 114px; 
}

.nav-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #666666;
}

.btn-head{
    padding: 13px 20px;
    border: 1px solid #CC9933;
    border-radius: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #CC9933;
    
}

.btn-head {
    margin-right: 40px;
}

/*spec*/
.section-spec{
    margin-top: 70px;
}

.section-spec h1{
    margin-left: 40px;
    font-weight: 400;
    font-size: 40px;
    line-height: 40px;
    color: #333333;
}

.spec-cards{
    display: flex;
    justify-content: center;
}

.section-spec-left{
    flex-direction: column;
}

.spec-left{
    min-width: 573px;
    min-height: 258px;
    margin-right: 24px;
    border-radius: 15px;
}

.spec-left:not(:last-child){
    margin-bottom: 24px;
}

.spec-left-1{
    background-image: url('../img/spec-1.jpg');
}

.spec-left-2{
    background-image: url('../img/spec-2.jpg');
}

.spec-right {
    min-height: 540px;
    min-width: 573px;
    border-radius: 15px;
    background-image: url('../img/spec-3.jpg');
}

.spec-title{
    padding-top: 40px;
    margin-left: 45px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
}

.spec-title-2{
    padding-top: 212px;
    margin-left: 45px;
    font-weight: 700;
    font-size: 60px;
    line-height: 60px;
    color: #FFFFFF;
}

.spec-price{
    padding-top: 15px;
    margin-left: 45px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
}

.spec-price-2{
    padding-top: 15px;
    margin-left: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.8;
}

.spec-link-block{
    margin-top: 47px;
    margin-left: 45px;
}

.spec-link{
    background: url(../img/spec-link-icon.svg) no-repeat 100%;
    padding-right: 14px;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #F0BF5F;
}